/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: #171717;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #97FF66;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }




.div-welcome{
    background-color: black;
    width: 100%; 
    height: 100vh;
    position: fixed;
}


.div-welcome-content{
    z-index: 2;
    position: absolute; 
    color: white; 
    width: 100%;
    padding-left: 6%; 
    padding-top: 15vh
}

.div-welcome-background{
    z-index: 1;
    position: absolute; 
    color: white; 
    background-color: black;
    padding-top: 60vh; 
    width: 100%; 
    height: 100%;
}


/* RESPONSIVIDADE TEXTO */
.welcome-content-p4{
    font-size: 2vw;
    margin: 0; 
    line-height: 2.5vw; 
    color: rgb(165, 165, 165); 
    font-weight: 1000
}

.welcome-content-p3{
    font-size: 2vw; 
    margin: 0;
    margin-top: 1vh; 
    line-height: 2.5vw; 
    color: rgb(165, 165, 165); 
    font-weight: 1000;
}

.welcome-content-p2{
    font-size: 7vw; 
    margin: 0; 
    line-height: 7vw; 
    font-weight: 1000;
}

.welcome-content-p1{
    font-size: 2.5vw; 
    margin: 0; 
    line-height: 2.5vw;
}

@media screen and (min-width: 1000px) {
    .welcome-content-p4{
        font-size: 2.5vw;
        margin: 0; 
        line-height: 3vw; 
        color: rgb(165, 165, 165); 
        font-weight: 1000
    }
    
    .welcome-content-p3{
        font-size: 3vw; 
        margin: 0;
        margin-top: 3vh; 
        line-height: 2vw; 
        color: rgb(165, 165, 165); 
        font-weight: 1000;
    }
    
    .welcome-content-p2{
        font-size: 6vw; 
        margin: 0; 
        line-height: 6vw; 
        font-weight: 1000;
    }
    
    .welcome-content-p1{
        font-size: 2vw; 
        margin: 0; 
        margin-bottom: 1vh; 
        line-height: 2vw;
    }

    .div-welcome-content{
        padding-left: 0;
        width: 50%;
        left: 25%
    }
  }

@media screen and (max-width: 600px) {
    .welcome-content-p4{
        font-size: 7vw;
        margin: 0; 
        line-height: 6vw; 
        color: rgb(165, 165, 165); 
        font-weight: 1000
    }
    
    .welcome-content-p3{
        font-size: 7vw; 
        margin: 0;
        margin-top: 3vh; 
        line-height: 6vw; 
        color: rgb(165, 165, 165); 
        font-weight: 1000;
    }
    
    .welcome-content-p2{
        font-size: 20vw; 
        margin: 0; 
        line-height: 17vw; 
        font-weight: 1000;
    }
    
    .welcome-content-p1{
        font-size: 5vw; 
        margin: 0; 
        margin-bottom: 1vh; 
        line-height: 6vw;
    }
  }


/* REPONSIVIDADE BOTAO */
.text-botao{
    font-size: calc(30px + 0.5vw); 
    line-height: 0vw; 
    color: #171717; 
    font-weight: bold;
}
.bg-botao{
    background-color: #97FF66; 
    width: fit-content; 
    padding: 1vh 2vw 1vh 2vw; 
    border-radius: 25px; 
    cursor: pointer
}
.div-botao{
    display: flex; 
    justify-content: center; 
    position: fixed; 
    top: 75vh; 
    width: 100%; 
    z-index: 5
}

@media screen and (max-width: 600px) {

    .text-botao{
        font-size: 7vw; 
        line-height: 4vw; 
        color: #171717; 
        font-weight: bold;
    }
    .bg-botao{
        background-color: #97FF66; 
        width: fit-content; 
        padding: 1px 20px 1px 20px; 
        border-radius: 25px; 
        cursor: pointer
    }
    .div-botao{
        display: flex; 
        justify-content: center; 
        position: fixed; 
        top: 75vh; 
        width: 100%; 
        z-index: 5
    }
    

}
