.maskDiv-saibaMais{
    width:1000vw;
    position: fixed; 
    top: 90vh; 
    height: 1000vh; 
    left: 50vw; 
    z-index: 3; 
    -webkit-clip-path: url(#maskCircle-saibaMais);
   
    
}

.div-saibaMais{
    background-color: #97FF66;
    position: fixed; 
    top: 0px;
    left: 0px; 
    height: 100vh; 
    width: 100%; 
}

#circleSvg {
  
}

.div-saibaMais-content{
    z-index: 2;
    position: absolute; 
    color: white; 
    width: 100%; height: 100%;
}

.p1-saibaMais{
    font-size: 5em; 
    color: black; 
    margin:0; 
    text-align: center;
    font-weight: 500; 
    font-family: unique;
}

.text-canva{
    font-family: unique;
    position: absolute; 
    z-index: 2;  
    color: #6bb847; 
    font-size: 15em; 
    width: max-content; 
    top: 8vh;
    font-weight: 500;
}


/* Animação de troca de nomes */
.console-container {
    font-family:unique;
    font-size:6em;
    text-align:center;
    font-weight: 500;
    width:100%;
    display:block;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:0px;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.hidden {
opacity:0;
}

/* scroll down */


.scrollDownPreto span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scrollDownPreto span:nth-child(2) {
	animation-delay: -0.2s;
}

.scrollDownPreto span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}