.maskDiv-saibaMais{
    width:1000vw;
    position: fixed; 
    top: 90vh; 
    height: 1000vh; 
    left: 50vw; 
    z-index: 3; 
    -webkit-clip-path: url(#maskCircle-saibaMais);
   
    
}

.div-saibaMais{
    background-color: #97FF66;
    position: fixed; 
    top: 0px;
    left: 0px; 
    height: 100vh; 
    width: 100%; 
}

#circleSvg {
  
}

.div-saibaMais-content{
    z-index: 2;
    position: absolute; 
    color: white; 
    width: 100%; 
    height: 100%;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #97FF66, #000000);
    background-size: 200% 200%;
    background-repeat: no-repeat;
  }
  .background .gradient {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 8rem);
    transform: translate3d(-50%, -50%, 0);
    width: 30rem;
    height: 25rem;
    background: radial-gradient(
      circle at center,
      rgb(225 199 98 / 16%),
      rgba(28, 0, 37, 0) 10rem
    );
    filter: blur(20px);
  }
  .background .gradient-2 {
    position: absolute;
    top: calc(50% + 5rem);
    left: calc(50% + 8rem);
    transform: translate3d(-50%, -50%, 0);
    width: 12rem;
    height: 17rem;
    background: radial-gradient(
      circle at center,
      rgb(33 165 123 / 16%),
      rgba(28, 0, 37, 0) 10rem
    );
    filter: blur(20px);
  }



.text-canva{
    position: absolute; 
    z-index: -1;  
    color: #6bb847; 
    font-size: 15em; 
    width: max-content; 
    top: 8vh;
    font-weight: 500;
}



/* Animação de troca de nomes */
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:0px;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.hidden {
opacity:0;
}



/* scroll down */
.scrollDownPreto span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scrollDownPreto span:nth-child(2) {
	animation-delay: -0.2s;
}

.scrollDownPreto span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}


/* Responsividade texto */

.console-container {
    font-family:unique;
    font-size:15vw;
    font-size: max(100px);
    font-weight: 500;
    display:block;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    margin-left: 2vh;
    width: max-content;
}

.text1-saibaMais{
    width: max-content; 
    display: flex; 
    flex-direction: row;
}

.p1-saibaMais{
    font-size: 15vw; 
    font-size: max(100px);
    color: black; 
    margin:0; 
    width: max-content;
    height: max-content;
    display: flex;
    
    font-weight: 500; 
    font-family: unique;
}

@media screen and (max-width: 600px) {
    .p1-saibaMais{
        font-size: 10vh; 
        line-height: 9vh;
        color: black; 
        margin:0; 
        text-align: center;
        font-weight: 500; 
        font-family: unique;
    }

    .p2-saibaMais{
        font-size: 3vh; 
        line-height: 4.5vh;
        color: black; 
        text-align: center;
        margin:0; 
        margin-top: 2vh;
        font-weight: 700; 
    }

    .console-container {
        font-family:unique;
        font-size:10vh;
        line-height: 9vh;
        font-weight: 500;
        display:block;
        color:white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        margin-left: 1.5vw;
        width: max-content;
    }
    
}

@media screen and (min-width: 1000px) {
    .p1-saibaMais{
        font-size: 15vh; 
        line-height: 14vh;
        color: black; 
        margin:0; 
        text-align: center;
        font-weight: 500; 
        font-family: unique;
    }

    .p2-saibaMais{
        font-size: 5vh; 
        line-height: 5.5vh;
        color: black; 
        text-align: center;
        margin:0; 
        margin-top: 2vh;
        font-weight: 700; 
    }

    .console-container {
        font-family:unique;
        font-size:15vh;
        line-height: 14vh;
        font-weight: 500;
        display:block;
        color:white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        margin-left: 1.5vw;
        width: max-content;
    }

}