.div-servicos{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #171717;
    top: 0;
    left: 0;
    z-index: 4;
    
}

.div-servicos-content{
	margin-left: 6%;
	margin-top: 10%;
}

.maskDiv-servicos{
    width:1000vw;
    position: fixed; 
    top: 85vh; 
    height: 1000vh; 
    left: 0vw;
    z-index: 4; 
    -webkit-clip-path: url(#maskCircle-servicos);
}


.active-servico {
	color: #97FF66 !important;
	font-size: 2rem !important;
  }
  
  .active-servico-text {
	opacity: 1 !important;
  }


.scrollDownVerde span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scrollDownVerde span:nth-child(2) {
	animation-delay: -0.2s;
}

.scrollDownVerde span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}